%h2
  =link_to notice.title, notice_path(notice)
= simple_format(notice.body[0, 500].strip + "...")

- if user_signed_in?
  .row
    .col-md-2.col-md-offset-10.pull-right
      .btn-group
        = link_to "Edit", edit_notice_path(notice), class: "btn btn-sm btn-warning"
        = link_to "Delete", notice_path(notice), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" }