%h1
  Manage users
  %small Change user permissions
  
%table.table.table-hover.table_condensed
  %thead
    %tr
      %th Name
      %th Email
      %th Unit Number
      %th Address
      %th Phone Number
      %th Permissions
      %th Set Role
  %tbody
    = render partial: "user", collection: @users

.row
  = paginate @users