#carousel-homepage.carousel.slide{ "data-ride" => "carousel" }
  %ol.carousel-indicators
    - (1..5).each do |i|
      %li{ "data-target" => "#carousel-homepage", "data-slide-to" => 1, "class" => (i == 1 ? "active" : "") }
    
  .carousel-inner
    - (1..5).each do |i|
      .item{ "class" => (i == 1 ? "active" : "") }
        = image_tag("carousel/carousel_#{i}.png")
        .carousel-caption
          %h1 Misioneros de Los Cabos
      
  %a.left.carousel-control{ "href" => "#carousel-homepage", "data-slide" => "prev" }
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{ "href" => "#carousel-homepage", "data-slide" => "next" }
    %span.glyphicon.glyphicon-chevron-right