%h1 Contacts

.row
  .col-md-6
    = image_tag("placeholder_contact.png", size: "140x140", class: "image-circle")
    %h3 Column 1
  .col-md-6
    = image_tag("placeholder_contact.png", size: "140x140", class: "image-circle")
    %h3 Column 2
