#main_jumbotron.jumbotron
  %h1 Welcome!
  %p Here you can find some content that describes how cool Cabo is.

.row
  .col-md-6
    %h2 
      Events
      %small Recent happenings in Cabo
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et elit nibh. Aenean tortor velit, feugiat eget massa vel, faucibus rutrum neque. Integer et sapien sit amet metus pellentesque pulvinar. Nullam condimentum turpis sem, sed placerat felis tincidunt vel. Duis mollis blandit interdum. Quisque viverra mollis nulla a egestas. Morbi magna lorem, mollis ac porta id, eleifend ut dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu pharetra mauris. Cras vulputate, quam sit amet pulvinar adipiscing, tortor mi ultrices metus, eu laoreet metus metus eget libero. In in gravida sapien. Duis cursus consectetur leo, eu tincidunt velit molestie quis.
    %p Duis hendrerit, ipsum sed ullamcorper ultricies, ligula turpis vehicula erat, ac gravida metus augue vel mi. Maecenas porttitor non augue vehicula luctus. Suspendisse vel rhoncus risus. Quisque nisi odio, tempor sed mi nec, cursus lobortis nisi. Cras ac imperdiet est. Suspendisse elit risus, bibendum iaculis augue nec, sollicitudin placerat erat. Proin pellentesque elit augue, nec facilisis lacus laoreet sed. Vivamus vulputate turpis dui, sed adipiscing tortor semper ut. Aliquam et tellus sed urna malesuada pellentesque quis vitae libero. Vestibulum pretium tristique metus, non cursus ipsum bibendum sed. Nulla commodo metus eu nibh varius euismod. In in pellentesque leo, sed ultrices mauris.
  .col-md-6
    %h2 
      News
      %small Brief messages from your overlords
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et elit nibh. Aenean tortor velit, feugiat eget massa vel, faucibus rutrum neque. Integer et sapien sit amet metus pellentesque pulvinar. Nullam condimentum turpis sem, sed placerat felis tincidunt vel. Duis mollis blandit interdum. Quisque viverra mollis nulla a egestas. Morbi magna lorem, mollis ac porta id, eleifend ut dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu pharetra mauris. Cras vulputate, quam sit amet pulvinar adipiscing, tortor mi ultrices metus, eu laoreet metus metus eget libero. In in gravida sapien. Duis cursus consectetur leo, eu tincidunt velit molestie quis.
    %p Duis hendrerit, ipsum sed ullamcorper ultricies, ligula turpis vehicula erat, ac gravida metus augue vel mi. Maecenas porttitor non augue vehicula luctus. Suspendisse vel rhoncus risus. Quisque nisi odio, tempor sed mi nec, cursus lobortis nisi. Cras ac imperdiet est. Suspendisse elit risus, bibendum iaculis augue nec, sollicitudin placerat erat. Proin pellentesque elit augue, nec facilisis lacus laoreet sed. Vivamus vulputate turpis dui, sed adipiscing tortor semper ut. Aliquam et tellus sed urna malesuada pellentesque quis vitae libero. Vestibulum pretium tristique metus, non cursus ipsum bibendum sed. Nulla commodo metus eu nibh varius euismod. In in pellentesque leo, sed ultrices mauris.

- if user_signed_in?
  %p= "Hello #{current_user.email}."
  %p= link_to("Log the hell out!", destroy_user_session_path, method: :delete)