.row.top-buffer
  .col-lg-10.col-lg-offset-1
    = render partial: "carousel"

.row.top-buffer
  .col-md-6
    %h2
      About Misioneros
    %p Located on a sliver of land roughly 3 miles from downtown Cabo San Lucas, Misioneros de Los Cabos offers breath taking ocean views along with the most amazing sunrises and sunsets anywhere. You can enjoy sounds of the ocean waves and whale watching, right from your own private balcony! Feel the cool air as the breeze comes off the water. Take a dip in the community pool with swim-up bar.  
    %p Misioneros de Los Cabos is a very short distance to many world class restaurants and never ending nightlife. A terrific snorkeling beach borders one side of Misiones while you have a great surfing beach on the other. Situated on a 5 star piece of property, Misiones is the perfect place to relax and enjoy your stay in Baja California Sur.
  .col-md-6
    %h2 
      Most Recent Notice
    - @notices.each_with_index do |notice, i|
      .notice{ class: (i.zero? ? "" : "top-buffer") }
        %h4
          = link_to notice.title, notice_path(notice)
          %small= notice.created_at.strftime('%B %e at %l:%M%p')
        = simple_format notice.body