%h1 
  Maintenance Fee
  %small Please do not make cash payments

.row
  .col-md-8.col-lg-offset-2
    %h3 Due Dates
    %p Month before payment due: Send statement to all homeowners two weeks prior to the due date on the 15th. (Send statement on Dec 15, due date on Jan 15)
    
    %table.table.table_condensed
      %thead
        %tr
          %th
          %th 1st Quarter
          %th 2nd Quarter
          %th 3rd Quarter
          %th 4th Quarter
      %tbody
        %tr
          %td Sent
          %td Dec. 15th
          %td Mar. 15th
          %td Jun. 15th
          %td Sep. 15th
        %tr
          %td Due
          %td Jan. 15th
          %td Apr. 15th
          %td Jul. 15th
          %td Oct. 15th

    %h3 Rates
    %p The billing of maintenance fee and reserve fund are due quarterly, the rates for 2012 are the following:
    
    %dl.dl-horizontal
      %dt Maintenance Fee
      %dd $2.90 per square foot
      %dt Reserve Fund
      %dd $0.50 per square foot

    %h3 Payment Information
    %p If you want to pay in the United States, the check will have to be under the name of:
    %blockquote
      %p MISIONEROS DE LOS CABOS A.C.
    %p 
      and send to:
      %address
        %strong Misioneros De Los Cabos A.C.
        %br
        303 Magnolia Dr.
        %br
        Laguna Beach CA 92651

    %p.top-buffer-xl
      If you are going to pay in 
      %strong Mexico 
      with check at the bank or bank transfer, the check will have to be under the name of: MISIONEROS DE LOS CABOS A.C. They can be deposited in either of the following bank accounts:
    
    %address
      %strong Bancomer Dollars
      %br
      Account Num. 0183124584
      %br
      Interbank code (Clabe interbancaria): 012041001831245844 (only bank transfer)
 
    %address
      %strong Bancomer Pesos
      %br
      Account Num. 0183124444
      %br
      Interbank code (Clabe interbancaria) 012041001831244447 (only bank transfer)  
/ 
/ 
/ 
/ 
/ 
/ -Please do not make cash payments-
