%h1 Photos

.row
  .col-md-8.col-md-offset-2
    .picture_with_caption
      = image_tag("hoa_office.jpg", class: "img-responsive")
      %h4.text-center HOA Office
    .picture_with_caption.top-buffer-xl
      = image_tag("employees.jpg", class: "img-responsive")
      %h4.text-center Our Staff
    .picture_with_caption.top-buffer-xl
      = image_tag("pepe_yuen.jpg", class: "img-responsive")
      %h4.text-center Pepe Yuen
    .picture_with_caption.top-buffer-xl
      = image_tag("gloria.jpg", class: "img-responsive")
      %h4.text-center Gloria
      