/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= bootstrap.transloadit
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap/theme";

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 20px;
}

.bottom-buffer-sm { 
  margin-bottom: 10px; 
}

.top-buffer { 
  margin-top: 20px; 
}

.top-buffer-xl { 
  margin-top: 40px; 
}

.colorize-blue {
  color: #428bca;
}

.colorize-red {
  color: #c12e2a;
}