/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= bootstrap.transloadit
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap/theme";

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -160px;
}

#wrap > .container {
  padding: 60px 0 30px;
}

#push, #footer {
  height: 160px;
}

#footer {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  padding-bottom: 30px;
  background-image: linear-gradient(to top, #fff 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
}

.bottom-buffer-sm { 
  margin-bottom: 10px; 
}

.top-buffer { 
  margin-top: 20px; 
}

.top-buffer-xl { 
  margin-top: 40px; 
}

.navbar-header .navbar-brand, .carousel h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 100;
  font-size: 1.5em;
}

.carousel .carousel-caption {
  left: 10%;
  right: 10%;
}

.carousel h1 {
  font-size: 3.5em;
  letter-spacing: .1em;
}

.carousel .carousel-control {
  width: 10%;
}

.light-blue-gradient {
  background-image: linear-gradient(to bottom, #fff 0%, #eaf0f7 100%);
  background-repeat: repeat-x;
}

.colorize-blue {
  color: #428bca;
}

.colorize-red {
  color: #c12e2a;
}

.language_select {
  height: 50px;
  padding: 6px 0 0 16px;
}

.language_flag {
  display: block;
  height: 16px;
  margin-bottom: 6px;
}