%h1
  Documents
  %small Minutes and HOA / ARC documents
  
.row
  .col-md-8.col-md-offset-2
    = render partial: "upload", collection: @uploads
  
    - if admin_signed_in?
      .row
        .col-md-2.col-md-offset-10
          = link_to("New document", new_upload_path, class: "btn btn-success")